		{% extends "lagouwang/base.html" %}
		{% block all %}
		<header>
			<ul>
				<li id="hed_search"><i class="iconfont icon-fangdajing"></i> 搜索职位/公司/商区</li>
				<li id="hed_sao"><i class="iconfont icon-saoma"></i></li>
			</ul>
		</header>
		<section>
			
			<div id="sec_pic" class="fullscreen">
				<div id="p1">
					
				</div>
				<div id="p2">
					
				</div>
			</div>
			
			<div id="sec_work" class="fullscreen">
				<ul>
					<li><a href="#"><i class="iconfont icon-renwu"></i><b>日常任务</b></a></li>
					<li><a href="#"><i class="iconfont icon-bofang"></i><b>直播LIVE</b></a></li>					
					<li><a href="#"><i class="iconfont icon-naozhong"></i><b>最新职位</b></a></li>
					<li><a href="#"><i class="iconfont icon-jiqiren"></i><b>AI专场</b></a></li>
				</ul>
			</div>
			
			<div id="sec_adv" class="fullscreen">
				
			</div>
			<p>- 为你推荐的好职位 -</p>
			<div class="content fullscreen">
				<div class="row">
					<ul>
						<li id="li_title"><span id="t_title" class="left">Python开发工程师</span><span class="right" id="t_money">2k-4k</span></li>
						<li id="li_info"><span class="left" id="t_info">杭州|江干区|经验不限|本科</span><span class="right" id="t_date">10月1号</span></li>
					</ul>
				</div>
				<div class="row">
					<ul>
						<li><span class="t_tag">Python</span></li>
						<li><span class="t_tag">大数据</span></li>
						<li><span class="t_tag">django</span></li>
						<li><span class="t_tag">应用开发</span></li>
					</ul>
				</div>
				<div class="row">
					<img src="../../static/img/baidu.png"/>
					<ul>
						<li>百度</li>
						<li>天使轮 | 15-50人 | 移动互联网</li>
					</ul>
				</div>
			</div>
			<div class="content fullscreen">
				<div class="row">
					<ul>
						<li id="li_title"><span id="t_title" class="left">Python开发工程师</span><span class="right" id="t_money">2k-4k</span></li>
						<li id="li_info"><span class="left" id="t_info">杭州|江干区|经验不限|本科</span><span class="right" id="t_date">10月1号</span></li>
					</ul>
				</div>
				<div class="row">
					<ul>
						<li><span class="t_tag">Python</span></li>
						<li><span class="t_tag">大数据</span></li>
						<li><span class="t_tag">django</span></li>
						<li><span class="t_tag">应用开发</span></li>
					</ul>
				</div>
				<div class="row">
					<img src="../../static/img/baidu.png"/>
					<ul>
						<li>百度</li>
						<li>天使轮 | 15-50人 | 移动互联网</li>
					</ul>
				</div>
			</div>
			<div class="content fullscreen">
				<div class="row">
					<ul>
						<li id="li_title"><span id="t_title" class="left">Python开发工程师</span><span class="right" id="t_money">2k-4k</span></li>
						<li id="li_info"><span class="left" id="t_info">杭州|江干区|经验不限|本科</span><span class="right" id="t_date">10月1号</span></li>
					</ul>
				</div>
				<div class="row">
					<ul>
						<li><span class="t_tag">Python</span></li>
						<li><span class="t_tag">大数据</span></li>
						<li><span class="t_tag">django</span></li>
						<li><span class="t_tag">应用开发</span></li>
					</ul>
				</div>
				<div class="row">
					<img src="../../static/img/baidu.png"/>
					<ul>
						<li>百度</li>
						<li>天使轮 | 15-50人 | 移动互联网</li>
					</ul>
				</div>
			</div>
			<div class="content fullscreen">
				<div class="row">
					<ul>
						<li id="li_title"><span id="t_title" class="left">Python开发工程师</span><span class="right" id="t_money">2k-4k</span></li>
						<li id="li_info"><span class="left" id="t_info">杭州|江干区|经验不限|本科</span><span class="right" id="t_date">10月1号</span></li>
					</ul>
				</div>
				<div class="row">
					<ul>
						<li><span class="t_tag">Python</span></li>
						<li><span class="t_tag">大数据</span></li>
						<li><span class="t_tag">django</span></li>
						<li><span class="t_tag">应用开发</span></li>
					</ul>
				</div>
				<div class="row">
					<img src="../../static/img/baidu.png"/>
					<ul>
						<li>百度</li>
						<li>天使轮 | 15-50人 | 移动互联网</li>
					</ul>
				</div>
			</div>
			<div class="content fullscreen">
				<div class="row">
					<ul>
						<li id="li_title"><span id="t_title" class="left">Python开发工程师</span><span class="right" id="t_money">2k-4k</span></li>
						<li id="li_info"><span class="left" id="t_info">杭州|江干区|经验不限|本科</span><span class="right" id="t_date">10月1号</span></li>
					</ul>
				</div>
				<div class="row">
					<ul>
						<li><span class="t_tag">Python</span></li>
						<li><span class="t_tag">大数据</span></li>
						<li><span class="t_tag">django</span></li>
						<li><span class="t_tag">应用开发</span></li>
					</ul>
				</div>
				<div class="row">
					<img src="../../static/img/baidu.png"/>
					<ul>
						<li>百度</li>
						<li>天使轮 | 15-50人 | 移动互联网</li>
					</ul>
				</div>
			</div>
			<div class="content fullscreen">
				<div class="row">
					<ul>
						<li id="li_title"><span id="t_title" class="left">Python开发工程师</span><span class="right" id="t_money">2k-4k</span></li>
						<li id="li_info"><span class="left" id="t_info">杭州|江干区|经验不限|本科</span><span class="right" id="t_date">10月1号</span></li>
					</ul>
				</div>
				<div class="row">
					<ul>
						<li><span class="t_tag">Python</span></li>
						<li><span class="t_tag">大数据</span></li>
						<li><span class="t_tag">django</span></li>
						<li><span class="t_tag">应用开发</span></li>
					</ul>
				</div>
				<div class="row">
					<img src="../../static/img/baidu.png"/>
					<ul>
						<li>百度</li>
						<li>天使轮 | 15-50人 | 移动互联网</li>
					</ul>
				</div>
			</div>
			<p>大吉大利，今晚吃鸡</p>
		</section>
		<footer>
			<ul>
				<li class="list"><a id="home" href="#"><i class="iconfont icon-shouye"></i> <b>首页</b> </a></li>
				<li class="list"><a id="mess" href="../mess"><i class="iconfont icon-xiaoxi"></i> <b>消息</b> </a></li>
				<li class="list"><a id="more" href="../more"><i class="iconfont icon-caidan"></i> <b>言职</b> </a></li>
				<li class="list"><a id="me" href="../me"><i class="iconfont icon-xiaolian"></i> <b>我</b> </a></li>
			</ul>
		</footer>
		<script type="text/javascript">
			$(function(){
				var dev_high = $(window).height();
				$("#home i").addClass("iplus");
				$("#home b").css("color","#00b487");
			})
		</script>
		{% endblock all %}